<%- include('partials/header'); -%>

<ul class="recipes">
  <li class="recipe">
    <img src="https://i.ytimg.com/vi/SnoAwLP1a-0/hqdefault.jpg?sqp=-oaymwEbCKgBEF5IVfKriqkDDggBFQAAiEIYAXABwAEG&rs=AOn4CLDoLbZC-g8vqN7tJGhWWm3fW34NCQ" alt="course icon">
    <h4>Node Auth Tutorial (JWT) #1 - Intro & Setup</h4>
  </li>
  <li class="recipe">
    <img src="https://i.ytimg.com/vi/muhJTRQ7WMk/hqdefault.jpg?sqp=-oaymwEbCKgBEF5IVfKriqkDDggBFQAAiEIYAXABwAEG&rs=AOn4CLB6q8XS8BumZWWMW_ncU41nlbYX6g" alt="course icon">
    <h4>Node Auth Tutorial (JWT) #2 - Auth Routes & Controllers</h4>

  </li>
  <li class="recipe">
    <img src="https://i.ytimg.com/vi/uiKwHx2K1Fo/hqdefault.jpg?sqp=-oaymwEbCKgBEF5IVfKriqkDDggBFQAAiEIYAXABwAEG&rs=AOn4CLC5UVNTDcPGY9t9LDjOtxl5S8Eq9A" alt="course icon">
    <h4>Node Auth Tutorial (JWT) #3 - Testing Routes & Handling POST Requests</h4>
    
  </li>
  <li class="recipe">
    <img src="https://i.ytimg.com/vi/mnJxyc0DGM8/hqdefault.jpg?sqp=-oaymwEbCKgBEF5IVfKriqkDDggBFQAAiEIYAXABwAEG&rs=AOn4CLBip1r4nVTs8t6kcps3J35TAe531A" alt="course icon">
    <h4>Node Auth Tutorial (JWT) #4 - User Model</h4>
    
  </li>
  <li class="recipe">
    <img src="https://i.ytimg.com/vi/nukNITdis9g/hqdefault.jpg?sqp=-oaymwEbCKgBEF5IVfKriqkDDggBFQAAiEIYAXABwAEG&rs=AOn4CLDd_QN6z3R5dqUc2QThYtGkP_HKDg" alt="course icon">
    <h4>Node Auth Tutorial (JWT) #5 - Mongoose Validation</h4>
    
  </li>
  <li class="recipe">
    <img src="https://i.ytimg.com/vi/teDkX-_Zkbw/hqdefault.jpg?sqp=-oaymwEbCKgBEF5IVfKriqkDDggBFQAAiEIYAXABwAEG&rs=AOn4CLBXfdM0HJr4wMFR-CZ-8I59KOMl_w" alt="course icon">
    <h4>Node Auth Tutorial (JWT) #6 - Mongoose Hooks</h4>
    
  </li>
</ul>

<%- include('partials/footer'); -%>