<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
    <img src="/course.png" alt="">
  </div>
  <div class="headings">
    <h2>Stige Courses</h2>
    <h3>A place to learn</h3>
    <a href="/course" class="btn">View courses</a>
  </div>
</header>


<%- include('partials/footer'); -%>